/* editor.component.css */
:host {
  display: block;
  height: 100vh;
}

aside {
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

nav ul {
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Handle text overflow */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  aside {
    transform: none !important;
  }
}
